*{
    background-color: black;
}

img{
    
    border: 5px;
    border-style: solid;
    width: 100%;
    
}

h1{
    text-transform: uppercase;
    font-size: 65px;
    font-weight: normal;
    
}
div{
    text-align: center;
    color: white;
    width: 50%;
    height: 0%;
    margin: 15% 25% 0% 25%;
}
p{
    font-family: 'Libre Baskerville', serif;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 25px;
   
}