<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Weather App</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->

    <div class="bottom-div">
      <div class="x1">
        <div class="cloud"></div>
      </div>

      <div class="x2">
        <div class="cloud"></div>
      </div>

      <div class="x3">
        <div class="cloud"></div>
      </div>

      <div class="x4">
        <div class="cloud"></div>
      </div>

      <div class="x5">
        <div class="cloud"></div>
      </div>
    </div>

    <!-- partial -->

    <div class="top-div">
      <div class="child-div a ">
        <h2>Weather Poppy</h2>
        <span>A Weather Forecast App</span>
        <div class="child-child-div">
          <!-- <form action="/submit" method="post">
            <p>Enter latitude and logitude:</p>
            <input type="text" placeholder="Latitude" name="lat">
            <input type="text" placeholder="Longitutde" name="lon">
            <button>Check</button>
          </form> -->
            <p>Enter latitude and logitude:</p>
            <input type="text" placeholder="Latitude" name="lat">
            <input type="text" placeholder="Longitutde" name="lon">
            <button>Check</button>
          
        </div>
        
      </div>
      
      <div class="child-div b "></div>
    </div>
    <script src="/index2.js"></script>
  </body>
</html>
